<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="shortcut icon" href="../static/assets/favicon/favicon.ico" type="image/x-icon" />
   <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/libs.bundle.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.bundle.css') }}" id="stylesheetLight" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.bundle.css') }}" id="stylesheetDark" />

   <style>
      body {
         display: none;
      }
   </style>

   <!-- Title -->
   <title>E-Commerce</title>
</head>

<body>
   <!-- NAVIGATION -->
   <nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
      <div class="container-fluid">

         <!-- Toggler -->
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
            aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <!-- Brand -->
         <a class="navbar-brand" href="/">
            <img src="{{url_for('static', filename='img/logo.svg')}}" class="navbar-brand-img mx-auto" alt="...">
         </a>

         <!-- User (xs) -->
         <div class="navbar-user d-md-none">

            <!-- Dropdown -->
            <div class="dropdown">

               <!-- Toggle -->
               <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <div class="avatar avatar-sm avatar-online">
                     <img src="../static/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                  </div>
               </a>

               <!-- Menu -->
               <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarIcon">
                  <a href="./profile-posts.html" class="dropdown-item">Profile</a>
                  <a href="./account-general.html" class="dropdown-item">Settings</a>
                  <hr class="dropdown-divider">
                  <a href="./sign-in.html" class="dropdown-item">Logout</a>
               </div>

            </div>

         </div>

         <!-- Collapse -->
         <div class="collapse navbar-collapse" id="sidebarCollapse">

            <!-- Form -->
            <form class="mt-4 mb-3 d-md-none">
               <div class="input-group input-group-rounded input-group-merge input-group-reverse">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                  <div class="input-group-text">
                     <span class="fe fe-search"></span>
                  </div>
               </div>
            </form>

            <!-- Navigation -->
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link" href="/">
                     <i class="fe fe-home"></i> Home
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#sidebarCategory" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarPages">
                     <i class="fe fe-file"></i> Category
                  </a>
                  <div class="collapse " id="sidebarCategory">
                     <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                           <a href="/category" class="nav-link ">
                              List All
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="category/create" class="nav-link ">
                              Create
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#sidebarOperation" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarPages">
                     <i class="fe fe-file"></i> Operation
                  </a>
                  <div class="collapse " id="sidebarOperation">
                     <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                           <a href="/operation" class="nav-link ">
                              List All
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="operation/create" class="nav-link ">
                              Create
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#sidebarGroups" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarPages">
                     <i class="fe fe-file"></i> Groups
                  </a>
                  <div class="collapse " id="sidebarGroups">
                     <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                           <a href="/groupby" class="nav-link ">
                              List All
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="groupby/create" class="nav-link ">
                              Create
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item d-md-none">
                  <a class="nav-link" data-bs-toggle="offcanvas" href="#sidebarOffcanvasActivity"
                     aria-contrtols="sidebarOffcanvasActivity">
                     <span class="fe fe-bell"></span> Notifications
                  </a>
               </li>
            </ul>

            <!-- Divider -->
            <hr class="navbar-divider my-3">
            <!-- Push content down -->
            <div class="mt-auto"></div>

            <div class="mb-4" id="popoverDemo">
               <a id="link_month_reference" class="btn w-100 btn-success" href="#!" data-bs-toggle="modal"
                  data-bs-target="#modalMonthReference">
                  <i class="fe fe-calendar me-2"></i> Mês Referência
               </a>
            </div>

            <!-- Customize -->
            <div class="mb-4" id="popoverDemo">
               <a class="btn w-100 btn-primary" href="/registers/" aria-controls="offcanvasDemo">
                  <i class="fe fe-sliders me-2"></i> Novo Registro
               </a>
            </div>

            <!-- User (md) -->
            <div class="navbar-user d-none d-md-flex" id="sidebarUser">

               <!-- Icon -->
               <a class="navbar-user-link" data-bs-toggle="offcanvas" href="#sidebarOffcanvasActivity"
                  aria-controls="sidebarOffcanvasActivity">
                  <span class="icon">
                     <i class="fe fe-bell"></i>
                  </span>
               </a>

               <!-- Dropup -->
               <div class="dropup">

                  <!-- Toggle -->
                  <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <div class="avatar avatar-sm avatar-online">
                        <img src="{{url_for('static', filename='img/avatars/profiles/avatar-1.jpg')}}"
                           class="avatar-img rounded-circle" alt="...">
                     </div>
                  </a>

                  <!-- Menu -->
                  <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
                     <a href="./profile-posts.html" class="dropdown-item">Profile</a>
                     <a href="./account-general.html" class="dropdown-item">Settings</a>
                     <hr class="dropdown-divider">
                     <a href="auth/signout" class="dropdown-item">Logout</a>
                  </div>

               </div>

               <!-- Icon -->
               <a class="navbar-user-link" data-bs-toggle="offcanvas" href="#sidebarOffcanvasSearch"
                  aria-controls="sidebarOffcanvasSearch">
                  <span class="icon">
                     <i class="fe fe-search"></i>
                  </span>
               </a>
            </div>
         </div>
      </div>
   </nav>

   {% block content %}{% endblock %}

   <div class="modal fade" id="modalMonthReference" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content bg-lighter">
            <div class="modal-body">

               <!-- Header -->
               <div class="row">
                  <div class="col">
                     <h6 class="text-uppercase text-muted mb-3">
                        <a href="#!" class="text-reset">Definir Mês de Referência</a>
                     </h6>
                     <h2 class="mb-2">
                        Mês de Referência
                     </h2>
                  </div>
                  <div class="col-auto">
                     <!-- Close -->
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
               </div>

               <!-- Divider -->
               <hr class="my-4">

               <!-- Card -->
               <div class="card">
                  <div class="card-body">
                     <form action="/" method="post">
                        <div class="form-group">
                           <div class="input-group input-group-flush input-group-merge input-group-reverse">
                              <input name="month" class="form-control list-search" type="number"
                                 placeholder="Mês Referência" required>
                              <div class="input-group-text">
                                 <span class="fe fe-calendar"></span>
                              </div>
                           </div>
                        </div>

                        <!-- Buttons -->
                        <div class="row">
                           <div class="col-12 col-md-6">
                              <a href="#" class="btn w-100 btn-link text-muted mt-2">
                                 Cancelar
                              </a>
                           </div>

                           <div class="col-12 col-md-6">
                              <button type="submit" class="btn w-100 btn-primary">
                                 Definir
                              </button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>

   <!-- JAVASCRIPT -->
   <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
   <script src="{{ url_for('static', filename='js/vendor.bundle.js') }}"></script>
   <script src="{{ url_for('static', filename='js/theme.bundle.js') }}"></script>
   <script src="{{ url_for('static', filename='js/app/charts.js') }}"></script>
   <script src="{{ url_for('static', filename='js/app/custom.js')}}"></script>

</body>

</html>